# This file configures the available backups. Backup names, backup paths and passwords are not allowed to contain whitespaces. Excluding paths may contain whitespaces, but have to be enclosed with double quotes (").
# Please choose a secure password for each backup, do not repeate passwords
# Backup name   Backup path             Backup password                                     Excluding paths
root            /                       Password1!                                          "/dev/" "/media/" "/proc/" "/run/" "/sys/" "/tmp/"
