# This file configures personal settings about duplicati used by the helper script

# Remote backup config
## The auth id, that you need to obtain from https://duplicati-oauth-handler.appspot.com
AUTH_ID=""
## Add the directory, all your backups will be put in. The seperate configured backups will be put into subfolder with their name
## Note: I only tested this script for Amazon Cloud Drive, feel free to let me know if there are any changes required for other hosters
BASE_URL="amzcd:///"

# Duplicati config
## This is the path to the duplicati executable
DUPLICATI="mono /opt/duplicati/Duplicati.CommandLine.exe"

# Log config
## This is the directory where your log files will be put in.
LOG_PATH="/var/log/"
## This is the prefix every log file will get. The log files will be named using the following schema: prefix.backupName.log
LOG_PREFIX="duplicati"
## The duplicati log level
## Available log levels: "Error", "Warning", "Information", "Profiling"
LOG_LEVEL="Information"

# Duplicati server config
## This is the path to the duplicati server executable
DUPLICATI_SERVER="mono /opt/duplicati/Duplicati.Server.exe"
## This is the port of the duplicati web page. It will be reachable from every host.
SERVER_PORT="8200"
## This is the password required to log into the web interface.
SERVER_PAS="Password1!"

# Helper config
## This is the path to the backup configuration file
BACKUP_CONFIG="/opt/duplicati_helper/backup.conf.example"
## This is the path to the duplicatirc file
DUPLICATIRC="/opt/duplicati_helper/duplicatirc"
## Specifies if the script should automatically check and install updates from Github
HELPER_AUTO_UPDATE="true"

# Advanced duplicati settings
## These are command line arguments for duplicati, sorted by topic. The value needs to be surounded by escaped double quotes.
COMPRESSION_MODULE="--compression-module=\"7z\" --7z-compression-level=\"7\""
ENCRYPTION_MODULE="--encryption-module=\"aes\""
BACKUP_MODULE="--number-of-retries=\"25\" --keep-time=\"3M\" --dblock-size=\"200mb\" --snapshot-policy=\"on\""
## This sets duplicati's update policy
DUPLICATI_UPDATE_POLICY=InstallBefore

# Advanced helper settings
## This status file will hold the information about the status of previous backups. Use duplicatirc to display it at log in. 
BACKUP_STATUS_FILE="/opt/duplicati_helper/backup.status"
## The directory to store the PID files of running duplicati jobs as well as status information about running jobs.
PID_DIR="/run/"
## The prefix every duplicati job PID file will get. The following schema will be used: prefix.backupName.pid
DUPLICATI_PID_PREFIX="duplicati"
## The name of the shutdown postponing script's PID
## NOTE: This should not be the same, or start the same as DUPLICATI_PID_PREFIX, otherwise the shutdown script will wait on itself
SHUTDOWN_PID_PREFIX="shutdown"
## The path to the original shutdown binary
SHUTDOWN_BIN="/sbin/shutdown-bin"

# Duplicati file permission management:
## Due to the updating mechanism, duplicati's file permissions get mixed up easily. Set this setting to true, in order to let duplicati only be used by 'root', securying your installation (different user/modes available through additional settings below, however it is not recommendet to change those)
MANAGE_FILE_PERMISSIONS="true"
# The owner's group and user
DUPLICATI_USER="root"
DUPLICATI_GROUP="root"
# The file permissions assigned to the files in octal
FP_BACKUP_CONF="600"
FP_DUPLICATI="744"
FP_DUPLICATI_CONF="644"
FP_DUPLICATI_COMPLETION="755"
FP_DUPLICATIRC="755"
FP_INSTALL="644"
FP_SHUTDOWN="755"
