[Unit]
Description=Runs Duplicati once a day at 3am

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=True
Unit=duplicati.service

[Install]
WantedBy=multi-user.target
