[Unit]
Description=Lcdproc service for showing duplicati's status
Requires=LCDd.service
After=LCDd.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /opt/duplicati_helper/lcdproc/duplicati_lcdproc.py > /var/log/duplicati.lcdproc.cli.log 2>&1
